{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-css-modules",
    "stylelint-config-prettier",
    "stylelint-prettier/recommended",
  ],
  "rules": {
    "font-family-no-missing-generic-family-keyword": null,
  },
}
